@import 'variables.scss';

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: $primary-font;
    color: $white;
    background-color: darken($primary-color, 11%);
    background-image: url("https://www.transparenttextures.com/patterns/xv.png");

   
    div .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw; 
        margin-top: 125px;

        h1 {
            margin-bottom: 0;
        }

        h2, h4 {
            margin-top: 0;
        }

        .disable-select {
            -webkit-user-select: none;  
            -moz-user-select: none;    
            -ms-user-select: none;      
            user-select: none;
            pointer-events: none;
          }

        input {
            &:hover {
                cursor: text;
            }

            &:focus {
                transition-duration: $transition;
                background-color: $secondary-opaque;
                border-bottom: 2px solid darken($primary-color, 15%);
            }

            &::placeholder {
                color: $white;
                opacity: 80%;
            }
        }

        .login-input {
            display: flex;
            height: 40px;
            width: 300px;
            color: $white;
            font: 20px $primary-font;
            margin-bottom: 25px;
            text-align: center;
            border: 2px solid darken($primary-color, 5%);
            background-color: $primary-opaque;
            outline: none;
        }

        button {
            margin-bottom: 10px;
            color: $white;
            font: 20px $primary-font;
            border: 2px solid darken($primary-color, 3%);
            height: 45px;
            width: 310px;
            background-color: $primary-color;

            &:hover {
                cursor: pointer;
                transition-duration: $transition;
                background-color: darken($primary-color, 7%);
                border: 2px solid darken($primary-color, 7%);
            }
        }
    }

    div .todo-header {
        display: flex;
        background-color: $primary-color;
        color: $white;
        height: 70px;
        width: 100vw;
        box-shadow: -2px 8px 16px 7px rgba(0,0,0,0.44);
        -webkit-box-shadow: -2px 8px 16px 7px rgba(0,0,0,0.44);
        -moz-box-shadow: -2px 8px 16px 7px rgba(0,0,0,0.44);

        .login-options, .heading-text {
            flex-basis: 50%;
        }

        .login-options {
            text-align: right; 
            padding-top: 5px;
            padding-right: 20px;

            .login-link, .register-link {
               
                &:hover {
                    cursor: pointer;
                    color: lighten($primary-color, 60%);
                }

                &:active {
                    color: $white;
                }
            }
        }

        .heading-text {
            display: flex;
            padding-left: 20px;
            font-weight: 600;

            .icon {
                display: flex;
                margin-right: 12px;
            }
        }
    }

    div .add-todo-container {
        height: 200px;
        width: 100vw;
        display: flex;
        justify-content: center;

        input::placeholder, .add-todo-input {
            color: $white;
            padding-left: 10px;
            font: 20px $primary-font;
            outline: none;
        }

        input:focus {
            transition-duration: 250ms;
            opacity: 55%;
            border-bottom: 2px solid darken($primary-color, 15%);
        }

       .add-todo-input {
            display: flex;
            align-self: center;
            background-color: $primary-color;
            opacity: 45%;
            height: 35px;
            width: 300px;
            border: 2px solid darken($primary-color, 5%);
        }

        .add-todo-button {
            align-self: center;
            margin-left: -10px;
        }
    }

    div .todo-list-container {
        display: flex;
        justify-content: center;
        width: 100vw;
        min-height: 600px;

        ul {
            list-style: none;

            .todo-item-container, .edit-container {
                display:  flex;
                font-weight: 600;
                font-size: 1.6em;

                .todo-actions {
                    display: flex;
                    justify-content: flex-end;
                    flex-basis: 30%;

                    .action-button {
                        padding-right: 15px;

                        > :hover {
                            color:  lighten($primary-color, 20%);
                            cursor: pointer;
                            transition-duration: 250ms;
                        }
                    }
                }
                
                .todo-container{
                display: flex;
                width: 40vw;

                li {
                    flex-basis: 70%;
                    cursor: pointer;
                    margin-bottom: 25px;
                }

                
            }

            }
        }
    }

    div .edit-container {
        display: flex;
        width: 40vw;

        input {
            height: 35px;
            width: 300px;
            background-color: $primary-color;
            color: $white;
            font: 20px $primary-font;
            flex-basis: 70%;
            margin-bottom: 25px;
            border: 2px solid darken($primary-color, 5%);
            opacity: 45%;
            outline: none;
        }

        input:focus {
            transition-duration: 250ms;
            opacity: 55%;
            border-bottom: 2px solid darken($primary-color, 15%);
        }

        
        
    }

    .footer{
        width: 100vw;
        height: 50px;
        text-align: center;
        position: absolute;
        bottom: 0px;
    }
    
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
          monospace;
      }

}
  
  