@import 'variables.scss';

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: $primary-font;
    color: $white;
    background-color: darken($primary-color, 11%);
    background-image: url("https://www.transparenttextures.com/patterns/xv.png");

    
    div .todo-header {
        display: flex;
        background-color: $primary-color;
        height: 70px;
        width: 100vw;
        box-shadow: -2px 8px 16px 7px rgba(0,0,0,0.44);
        -webkit-box-shadow: -2px 8px 16px 7px rgba(0,0,0,0.44);
        -moz-box-shadow: -2px 8px 16px 7px rgba(0,0,0,0.44);

        .login-register, .heading-text {
            color: $white;
            flex-basis: 50%;
        }

        .login-register {
            text-align: right; 
            padding-top: 5px;
            padding-right: 20px;
            cursor: pointer;
        }

        .heading-text {
            display: flex;
            padding-left: 20px;
            font-weight: 600;

            .icon {
                display: flex;
                margin-right: 12px;
            }
        }
    }

    div .add-todo-container {
        height: 200px;
        width: 100vw;
        display: flex;
        justify-content: center;

        input::placeholder, .add-todo-input {
            color: $white;
            padding-left: 10px;
            font: 20px $primary-font;
            outline: none;
        }

        input:focus {
            transition-duration: 250ms;
            border-bottom: 2px solid darken($primary-color, 15%);
        }

       .add-todo-input {
            display: flex;
            align-self: center;
            background-color: $primary-color;
            opacity: 60%;
            height: 35px;
            width: 300px;
            border: 2px solid darken($primary-color, 5%);
        }

        .add-todo-button {
            align-self: center;
            margin-left: -10px;
        }
    }

    .footer{
        width: 100vw;
        height: 50px;
        text-align: center;
        position: absolute;
        bottom: 0px;
    }
    
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
          monospace;
      }

}
  
  