body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", "Quicksand", "sans-serif";
  color: #fff;
  background-color: #07161f;
  background-image: url("https://www.transparenttextures.com/patterns/xv.png");
}
body div .sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 125px;
}
body div .sign-in h1 {
  margin-bottom: 0;
}
body div .sign-in h2, body div .sign-in h4 {
  margin-top: 0;
}
body div .sign-in input:hover {
  cursor: text;
}
body div .sign-in input:focus {
  transition-duration: 250ms;
  background-color: rgba(18, 55, 76, 0.7);
  border-bottom: 2px solid #030a0e;
}
body div .sign-in input::placeholder {
  color: #fff;
  opacity: 80%;
}
body div .sign-in .sign-in-input {
  display: flex;
  height: 40px;
  width: 300px;
  color: #fff;
  font: 20px "Montserrat", "Quicksand", "sans-serif";
  margin-bottom: 25px;
  text-align: center;
  border: 2px solid #0d2837;
  background-color: rgba(18, 55, 76, 0.5);
  outline: none;
}
body div .sign-in button {
  margin-bottom: 10px;
  color: #fff;
  font: 20px "Montserrat", "Quicksand", "sans-serif";
  border: 2px solid #0f2e40;
  height: 45px;
  width: 310px;
  background-color: rgb(18, 55, 76);
}
body div .sign-in button:hover {
  cursor: pointer;
  transition-duration: 250ms;
  background-color: #0b222f;
  border: 2px solid #0b222f;
}
body div .todo-header {
  display: flex !important;
  flex-basis: 100%;
  background-color: rgb(18, 55, 76);
  color: #fff;
  height: 70px;
  width: 100vw;
  box-shadow: -2px 8px 16px 7px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: -2px 8px 16px 7px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -2px 8px 16px 7px rgba(0, 0, 0, 0.44);
}
body div .todo-header .sign-in-options, body div .todo-header .heading-text, body div .todo-header .log-out-option {
  flex-basis: 49%;
}
body div .todo-header .sign-in-options, body div .todo-header .log-out-option {
  position: relative;
  text-align: right;
  top: 5px;
  right: 20px;
}
body div .todo-header .sign-in-options .sign-in-link:hover, body div .todo-header .sign-in-options .sign-up-link:hover, body div .todo-header .sign-in-options .log-out-link:hover, body div .todo-header .log-out-option .sign-in-link:hover, body div .todo-header .log-out-option .sign-up-link:hover, body div .todo-header .log-out-option .log-out-link:hover {
  cursor: pointer;
  color: #a6d1ea;
}
body div .todo-header .sign-in-options .sign-in-link:active, body div .todo-header .sign-in-options .sign-up-link:active, body div .todo-header .sign-in-options .log-out-link:active, body div .todo-header .log-out-option .sign-in-link:active, body div .todo-header .log-out-option .sign-up-link:active, body div .todo-header .log-out-option .log-out-link:active {
  color: #fff;
}
body div .todo-header .heading-text {
  display: flex;
  padding-left: 20px;
  font-weight: 600;
}
body div .todo-header .heading-text .icon {
  display: flex;
  margin-right: 12px;
}
body div .add-todo-container {
  height: 200px;
  width: 100vw;
  display: flex;
  justify-content: center;
}
body div .add-todo-container input::placeholder, body div .add-todo-container .add-todo-input {
  color: #fff;
  padding-left: 10px;
  font: 20px "Montserrat", "Quicksand", "sans-serif";
  outline: none;
}
body div .add-todo-container input:focus {
  transition-duration: 250ms;
  opacity: 55%;
  border-bottom: 2px solid #030a0e;
}
body div .add-todo-container .add-todo-input {
  display: flex;
  align-self: center;
  background-color: rgb(18, 55, 76);
  opacity: 45%;
  height: 35px;
  width: 300px;
  border: 2px solid #0d2837;
}
body div .add-todo-container .add-todo-button {
  align-self: center;
  margin-left: -10px;
}
body div .todo-list-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 600px;
}
body div .todo-list-container ul {
  list-style: none;
}
body div .todo-list-container ul .todo-item-container, body div .todo-list-container ul .edit-container {
  display: flex;
  font-weight: 600;
  font-size: 1.6em;
}
body div .todo-list-container ul .todo-item-container .todo-actions, body div .todo-list-container ul .edit-container .todo-actions {
  display: flex;
  justify-content: flex-end;
  flex-basis: 30%;
}
body div .todo-list-container ul .todo-item-container .todo-actions .action-button, body div .todo-list-container ul .edit-container .todo-actions .action-button {
  padding-right: 15px;
}
body div .todo-list-container ul .todo-item-container .todo-actions .action-button > :hover, body div .todo-list-container ul .edit-container .todo-actions .action-button > :hover {
  color: #26739e;
  cursor: pointer;
  transition-duration: 250ms;
}
body div .todo-list-container ul .todo-item-container .todo-container, body div .todo-list-container ul .edit-container .todo-container {
  display: flex;
  width: 40vw;
}
body div .todo-list-container ul .todo-item-container .todo-container li, body div .todo-list-container ul .edit-container .todo-container li {
  flex-basis: 70%;
  cursor: pointer;
  margin-bottom: 25px;
}
body div .edit-container {
  display: flex;
  width: 40vw;
}
body div .edit-container input {
  height: 35px;
  width: 300px;
  background-color: rgb(18, 55, 76);
  color: #fff;
  font: 20px "Montserrat", "Quicksand", "sans-serif";
  flex-basis: 70%;
  margin-bottom: 25px;
  border: 2px solid #0d2837;
  opacity: 45%;
  outline: none;
}
body div .edit-container input:focus {
  transition-duration: 250ms;
  opacity: 55%;
  border-bottom: 2px solid #030a0e;
}
body .footer {
  width: 100vw;
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0px;
}
body code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*# sourceMappingURL=styles.css.map */
